/* ----------------------- GERAIS ----------------------- */
:root{
    --color-rosa: #FAC5BE; 
    --color-vinho: #482926;
    --color-texto: #212529;
    --color-cinza: #E9ECEF;
    --font-laura: 'Special Elite', cursive;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: white;
}

a {
    text-decoration: none;
}

body {
    -webkit-font-smoothing: antialised;
}

/* ----------------------- FALSO HEADER ----------------------- */

.falsoheader {
    background-color: var(--color-rosa);
    padding: 5px;
}

/* ----------------------- HEADER ----------------------- */
.header {
    background-color: var(--color-rosa);
    margin: 0 0;
    display: flex;
    height: 100px;
    justify-content: space-around;
    
}

.header .menu {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 40px 30px 30%;
    font-size: 22px;
    font-weight: lighter;
}

.header .logo{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;

}
.header .logo img {
    height: 80px;
   
}

.header .menu a {
    color: var(--color-texto);
    transition-duration: 0.4s;
}

.header .menu a img {
    max-width: 25px;
    vertical-align: middle;
}

.header .menu a:hover {
    font-weight: bold;
}

/* ----------------------- RODAPÉ ----------------------- */

.rodape{
    background-color: var(--color-vinho);
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: space-around;
}

.rodape a {
    color: white;
    display: flex;
    flex-direction: column;    
}

.rodape .mapa-do-site{
    display: flex;
    flex-direction: column;
    /* width: 66%; */
    padding-left: 25px;
    padding-right: 25px;
    width: 60%;
}

.rodape .mapa-do-site header {
    width: 100%;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--color-rosa);
}

.rodape .mapa-do-site div {
    display: flex;
    line-height: 30px;
    margin: 0 10px 0;
    justify-content: space-between;  
    width: 50%;
}

.rodape .mapa-do-site div div {
    display: flex;
    flex-direction: column;

}

.rodape .contato {
    /* padding-left: 25px;
    padding-right: 25px; */
    width: 20%;
}

.rodape .contato header{
    width: 80%;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--color-rosa);
}


/* .rodape .contato div{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    flex: 1;
    line-height: 40px;
    margin-left: 20px;
} */

.rodape .contato div{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    line-height: 40px;
}

.rodape .contato a{
    /* width: 100%; */
    max-width: 300px;
    /* height: 72px; */
    display: inline;
    
}
.rodape .contato img {
    width: 20px;
    height: 20px;
}

