:root{
    --color-rosa: #FAC5BE; 
    --color-vinho: #482926;
    --color-texto: #212529;
    --color-cinza: #F8F9FA;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: white;
}

a {
    text-decoration: none;
}

body {
    -webkit-font-smoothing: antialised;
}
#header-home {
    background-color: var(--color-rosa);
    margin: 0 0;
    height: 100vh;
    
}

#header-home .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 40px 30px 40%;
    font-size: 22px;
    font-weight: lighter;
}

#header-home .logo{
    height: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    margin: 5% 10% auto;

}

#header-home .menu a {
    color: var(--color-texto);
    transition-duration: 0.4s;
}

#header-home .menu a img {
    max-width: 25px;
    vertical-align: middle;
}

#header-home .menu a:hover {
    font-weight: bold;
}

.quem-somos {
    display: flex;
    justify-content: space-between;
    height: 300px;
    margin: 0 0;
    width: auto; 
    padding: 25px;
    color: var(--color-texto);
}

.quem-somos img {
    vertical-align: middle;
    margin: 40px 20px 40px 10%;
    width: 200px;
    
}

.quem-somos div {
    /* margin: 40px 20px 40px 20px; */
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    /* font-size: 22px; */
    font-weight: lighter;
}

.quem-somos a {
    display: flex;
    align-items: center;
}

.quem-somos a img {
    max-height: 70px;
    cursor: pointer;
}

.quem-somos a img:hover{
    background-image: url("/assets/botaoHover.svg");
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: center;
    
    /*CONTINUAR A TENTAR MUDAR A IMAGEM*/    
}
.loja {
    background-color: var(--color-cinza);
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    margin: 15px;

}

.loja h1{
    font-family: 'Special Elite', cursive;
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
}

.loja .home-cards-loja {
}

.loja a {
    color: var(--color-vinho);
    background-color: var(--color-rosa);
    border-radius: 80px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    width: 100%;
    max-width: 200px;
    font-size: 25px;
    height: 35px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    transition: 500ms;
    justify-content: center;
    align-self: center;
    cursor: pointer;
}

.loja a:hover{
    background-color: var(--color-vinho);
    color: var(--color-rosa);
}

.rodape{
    background-color: var(--color-vinho);
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: space-around;
    
    
}

.rodape .mapa-do-site{
    display: flex;
    flex-direction: column;
    width: 66%;
    padding-left: 25px;
    padding-right: 25px;
}

.rodape .mapa-do-site header {
    width: 100%;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--color-rosa);
}

.rodape .mapa-do-site div {
    display: flex;
    line-height: 30px;
    margin: 0 10px 0;
    justify-content: space-between;
    
}

.rodape .mapa-do-site div div {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: red;

}
.rodape .ladinho {
    margin-left: 20px;
}
.rodape .contato {
    padding-left: 25px;
    padding-right: 25px;
    
}

.rodape .contato header{
    width: 80%;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--color-rosa);
}


.rodape .contato div{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    flex: 1;
    line-height: 40px;
    margin-left: 20px;
}

.rodape a {
    color: white;
    display: flex;
    flex-direction: column;
}
.rodape .contato span {
    width: 40px;
    height: 40px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.rodape .contato span::after{
    content: "";
}